<!-- <figure class="figure">
    <img
      src="{{ product.images[0] }}"
      alt="{{ product.Name }}"
      class="figure-img img-fluid rounded"
    />
    <figcaption class="figure-caption">{{ product.Name }}</figcaption>
  </figure> -->

<a [routerLink]="link">
  <div class="card m-3 col-12" style="height: 22em">
    <div
      style="height: 70%"
      (mouseover)="imgSrc = product.images[1]"
      (mouseout)="imgSrc = product.images[0]"
    >
      <span class="outStack" *ngIf="product.numberOfAvailableItems == 0">
        Out Of Stack
      </span>
      <span
        class="onsale"
        *ngIf="product.numberOfAvailableItems != 0 && product.inSale"
        >Sale!
      </span>
      <!-- <span class="outStack" *ngIf="product.numberOfAvailableItems == 0">
      Add to card
    </span> -->
      <img
        id="prdImg"
        [src]="imgSrc"
        alt="{{ product.Name }}"
        class="figure-img img-fluid rounded card-img-top p-2"
        style="height: 100%; width: 100%; max-height: 15em"
      />
      <div
        class="expand_button rounded-pill"
        *ngIf="product.numberOfAvailableItems != 0"
      >
        <a [routerLink]="link" class="btn e-button btn-sm rounded-pill">
          <span class="e-button-text"
            ><span
              class="iconify"
              data-icon="akar-icons:shopping-bag"
              data-width="18"
              data-height="18"
            ></span>
            &nbsp;&nbsp; Add to cart
          </span>
        </a>
      </div>
      <!-- onmouseover="console.log(this)"
      onmouseout="unhover(this)" -->
    </div>
    <div class="card-body text-center" style="height: 30%">
      <h5 class="card-title p-1" style="font-family: Barlow, sans-serif">
        {{ product.Name }}
      </h5>
      <p class="card-text" style="font-family: Barlow, sans-serif">
        <span
          [ngClass]="
            product.numberOfAvailableItems != 0 && product.inSale
              ? 'saleD'
              : 'noSaleD'
          "
          *ngIf="product.numberOfAvailableItems != 0 && product.inSale"
          >{{ product.priceBeforeSale | currency: "USD" }}</span
        >&nbsp;&nbsp;&nbsp;
        <span>{{ product.price | currency: "USD" }}</span>
      </p>
      <!-- <div class="text-center" style="height: 30%">
      <a href="#" class="btn btn-primary">Show Details</a>
    </div> -->
    </div>
  </div>
</a>
