<aside
  id="layout-menu"
  class="layout-menu menu-vertical menu bg-menu-theme"
  style="height: 500px"
>
  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item active">
      <a [routerLink]="['./dashboard']" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>
    <!-- Products -->
    <li class="menu-item">
      <a [routerLink]="['./products']" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Products</div>
      </a>
    </li>
    <!-- Add Product -->
    <li class="menu-item">
      <a [routerLink]="['./AdminAddProduct']" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Add Product</div>
      </a>
    </li>
  </ul>
</aside>
