.carousel-indicators {
    position: absolute;
    z-index: 15;
    display: flex;
    list-style: none;
    margin: 0;
    right: 0;
    top: 0;
    transform: translateX(110%);
    flex-direction: column;
    justify-content: flex-start;
    left: unset;
    bottom: unset;
}

.carousel-indicators li {
    width: 70px;
    height: auto;
}