<nav class="navbar navbar-expand-md text-white">
  <button
    (click)="whenClick()"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon">
      <i class="fa fa-navicon" style="color: black"></i
    ></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Info</a>
      </li>
    </ul>
  </div>

  <div id="logo" [ngStyle]="{ width: logoWidth }">
    <a class="navbar-brand text-dark col-sm" href="#">
      <i class="fa fa-shopping-basket" style="color: #6768ab"></i>4
      <span style="color: #6768ab">SHOP</span>
    </a>
  </div>
  <!-- (change)="goSearch($event)" -->
  <form class="form-inline col-sm">
    <form style="position: relative;">
      <div class="searchBox"  >
        <div *ngFor="let item of commingData">
          
        <a routerLink="/User/product/{{item.id}}"  >
            <div class="search_item">
             <img
                  [src]="item.images[0]" 
                  alt="" 
                  srcset=""
                  >
              <div class="item_name">
                    {{item.Name}}
              </div>
            </div>   
          </a>
          </div>
      </div>
      <input
        class="form-control"
        type="text"
        placeholder="Search"
        [(ngModel)]="searchValue"
        [ngModelOptions]="{ standalone: true }"
        (input)="RealTimeSearch()"
        (change)="goSearch()"
      />
    </form>

    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    <button type="submit" class="btn"><i class="fa fa-user"></i></button>
    <button type="submit" class="btn">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </form>
</nav>
