<!-- Navbar -->

<nav
  class="mynavbar navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme mb-4 justify-content-between"
  id="layout-navbar"
>
  <div class="layout-menu-toggle navbar-nav me-3 me-xl-0">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input
          type="text"
          class="form-control border-0 shadow-none"
          placeholder="Search..."
          aria-label="Search..."
          [(ngModel)]="searchValue"
          (change)="FindMatch()"
        />
      </div>
    </div>
    <!-- /Search -->
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- User -->
      <div class="avatar avatar-online">
        <img
          src="assets/img/avatars/1.png"
          alt
          class="w-px-40 h-auto rounded-circle"
        />
      </div>
      <!--/ User -->
    </ul>
  </div>
</nav>

<!-- / Navbar -->

<!-- Basic Bootstrap Table -->
<div class="card">
  <h5 class="card-header">Products Table</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Color</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let product of products">
          <td></td>
          <td>
            <strong>{{ product.Name }}</strong>
          </td>
          <td>{{ product.brand }}</td>
          <td>{{ product.price }}</td>
          <td>
            <span [ngStyle]="{ color: product.color }"
              ><span
                class="iconify colorCircle"
                data-icon="akar-icons:circle-fill"
                data-width="26"
                data-height="26"
              ></span
            ></span>
          </td>
          <td>
            <a [routerLink]="['/User/product/', product.id]">
              <span
                class="iconify"
                data-icon="bi:info-circle"
                data-width="26"
                data-height="26"
              ></span>
            </a>
          </td>
          <td>
            <a [routerLink]="['/Admin/EditProduct/', product.id]">
              <span
                class="iconify"
                data-icon="akar-icons:edit"
                data-width="26"
                data-height="26"
              ></span>
            </a>
          </td>
          <td>
            <a
              data-toggle="modal"
              data-target="#confirm"
              (click)="targetProduct = product.id"
              class="delete"
              ><span
                class="iconify"
                data-icon="ant-design:delete-twotone"
                data-width="26"
                data-height="26"
              ></span
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->

<div class="modal" tabindex="-1" role="dialog" id="confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="deleteProduct()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
