<section
  class="u-align-center u-clearfix u-image u-section-2 background"
  id="carousel_9d74"
  data-image-width="1980"
  data-image-height="1214"
>
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-align-center u-container-style u-group u-group-1">
      <div
        class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl"
      >
        <h2
          class="u-custom-font u-font-playfair-display u-text u-text-default u-text-1 text-center"
        >
          Welcome <br />
          in <br />
          <span class="color">
            <i class="fa fa-shopping-basket"></i>&nbsp;<span
              style="color: #464761"
              >4</span
            >
            Shop</span
          >
        </h2>
        <hr />
        <div
          class="u-border-1 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"
        ></div>
        <p class="u-text u-text-default u-text-2 text-center">
          In our website, we have two views. <br />
          You can feel free to choose any of them. <br /><br />
          <span class="alert alert-danger">
            This page is only for testing purposes.</span
          >
        </p>
      </div>

      <div class="text-center">
        <button
          class="btn btn-custom p-4 text-capitalize font-size mb-2"
          [routerLink]="['/Admin']"
        >
          <span
            class="iconify"
            data-icon="eos-icons:admin"
            data-width="60"
            data-height="60"
          ></span>
          Admin View
        </button>

        <button
          class="btn btn-custom p-4 text-capitalize font-size mb-2"
          [routerLink]="['/User']"
        >
          <span
            class="iconify"
            data-icon="bxs:user-account"
            data-width="60"
            data-height="60"
          ></span>
          User View
        </button>
      </div>
    </div>
  </div>
</section>
