<aside id="layout-menu" class="menu-vertical menu bg-menu-theme">
  <div class="app-brand demo justify-content-center">
    <a [routerLink]="['/User']" class="app-brand-link">
      <span class="app-brand-logo demo">
        <i
          class="fa fa-shopping-basket"
          style="color: #6768ab; font-size: 28px"
        ></i>
      </span>
      <span class="app-brand-text demo menu-text fw-bolder ms-2">
        <span style="color: #464761">4</span>
        SHOP
      </span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1 mt-3">
    <!-- Dashboard -->
    <li class="menu-item" [ngClass]="{ active: activeTab == 1 }">
      <a
        (click)="activeTab = 1"
        [routerLink]="['./dashboard']"
        class="menu-link justify-content-center justify-content-md-start"
      >
        <span
          class="iconify menu-icon"
          data-icon="bx:home-circle"
          data-width="24"
          data-height="24"
        ></span>
        <div class="d-none d-md-inline-block">Dashboard</div>
      </a>
    </li>
    <!-- Products -->
    <li class="menu-item" [ngClass]="{ active: activeTab == 2 }">
      <a
        (click)="activeTab = 2"
        [routerLink]="['./products']"
        class="menu-link justify-content-center justify-content-md-start"
      >
        <span
          class="iconify menu-icon"
          data-icon="dashicons:products"
          data-width="24"
          data-height="24"
        ></span>
        <div class="d-none d-md-inline-block">Products</div>
      </a>
    </li>
    <!-- Add Product -->
    <li class="menu-item" [ngClass]="{ active: activeTab == 3 }">
      <a
        (click)="activeTab = 3"
        [routerLink]="['./AddProduct']"
        class="menu-link justify-content-center justify-content-md-start"
      >
        <span
          class="iconify menu-icon"
          data-icon="bx:add-to-queue"
          data-width="24"
          data-height="24"
        ></span>
        <div class="d-none d-md-inline-block">Add Product</div>
      </a>
    </li>
  </ul>
</aside>
