
<div class="productDetail">
  <div class="card shadow-0 border rounded-3 justify-content-center " style="height: 100%;">
    <div class="card-body justify-content-center">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
          <h5> {{ product_details.Name }}</h5>
          <div class="d-flex flex-row">
            <div class="text-danger mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <span>300</span>
          </div>
          <div class="mt-1 mb-0 text-muted small">
            <h4> {{ product_details.brand }}</h4>
          </div>

          <p class="text-truncate mb-4 mb-md-0">
          {{ product_details.Description }}
          </p>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6  border-start">
          <div class="d-flex flex-row align-items-center mb-1">
            <h4 class="mb-1 me-1">{{ product_details.price}}</h4>
        
          </div>
          <h6 class="text-success">Free shipping</h6>
          <div class="d-flex flex-column mt-4">
            <button class="btn  mt-2 text-white" type="button" style="background-color: #6768ab;">
              Add to wishlist
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



